body{
  background-color: black;
  color: white;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.header{
  align-items: center;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-bottom-color: wheat;
  height: 50px;
}

.right-section{
  display: grid;
  grid-template-columns: 70px 70px 70px;
  justify-content: end;
  margin-right: 50px;
}
.results:hover{
  text-decoration: underline;
  cursor: pointer;
}
.pricing:hover{
  text-decoration: underline;
  cursor: pointer;
}
.portfolio:hover{
  text-decoration: underline;
  cursor: pointer;
}
.title{
  font-family: 'Lilita One', sans-serif;
  margin-top: 70px;
  font-size: 50px;
  text-align: center;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
} 

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slide in from bottom */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Optional: Slide in to final position */
  }
}

.wwd1{
  font-family: 'Lilita One', sans-serif;
  font-size: 25px;
  animation: wwdfadeIn 2s ease forwards;
  margin-top: 120px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


}

@keyframes wwdfadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slide in from bottom */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Optional: Slide in to final position */
  }
}
.circle{
  margin-top: 15px;
  text-align: center;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 200px;
  display: inline-block;
}
.trust-img{
  height: 110px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.gmb-img{
  height: 70px;
}
.the-gmb-img{
  text-align: center;
  margin-top: 29px;
  animation: gmbimgfade 2s ease forwards;
}
@keyframes gmbimgfade {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slide in from bottom */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Optional: Slide in to final position */
  }
}

.google-logo{
  height: 100px;
  margin-top: 12px;
}
.img-cntrl img{
  vertical-align: middle;
  margin-bottom: 40px;
}