@media (max-width: 1170px) {

.plans-container{
    display: flex;
    flex-direction: column;
}
.plan1,.plan2,.plan3{

}



}





body{
    background-color: black;
}
.section{
}
.stsec1{
    padding-top: 50px;
}
.Glplans{
    text-align: center;
    padding-top: 40px;
    font-family: 'Lilita One', sans-serif;
    font-size: 70px;
    padding-top: 80px;
}
@media (max-width: 1170px) {
    .Glplans{
        
        font-size: 40px;
        
    }
}

.plans-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.plan1, .plan2, .plan3{
    flex: 1;
}
.plan-title{
    font-size: 30px;
    font-family: 'Lilita One', sans-serif;

}

.mainpmt{
    font-family: 'Lilita One', sans-serif;
    font-size: 20px;
}

.subpst{
    font-family: 'Bellefair', serif;
    margin-top: 0;
    margin-bottom: 0;

}
.placement-adj{
    text-align: start ;
}

.plan1,.plan2{
    border-right-style: dashed;
    border-right-color: white;
    border-right-width: 1px;

}
@media (max-width: 1170px) {
    .plan1,.plan2{
        border: none;
    }
}
.plan-container{
    height: 580px;
}

.price{
    display: inline;
    border-right-style: dashed;
    border-right-color: white;
    border-right-width: 1px;
    padding-right: 20px;
    margin-right: 12px;
}
@media (max-width: 1170px) {
    .plan-container1{
        height: 420px;
    }
    .plan-container2{
        
    }
    .plan-container3{
        height: 420px;

    }
}


.apply-butt{
    height: 40px;
    width: 100px;
    color: black;
    background-color: white;
    transition: color 0.5s, background-color 0.5s;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
}

.apply-butt:hover{
    color: white;
    background-color: rgb(88, 3, 88);
    cursor: pointer;
    border-color: white;


}
.pro-title{
    margin-bottom: 0;
}

.recommended{
    display: inline;
    font-family: 'Bellefair', serif;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin-left: 200px;
    font-size: 12px;


}


.plans-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  /* Media query for phones (e.g., screens with a max-width of 768px) */
  @media (max-width: 1170px) {
    .plans-container {
      flex-direction: column; /* Change to a column layout for phones */
      align-items: center; /* Center the content horizontally in the column layout */
    }
  }
  














