body{
    background-color: black;
}
.section{
    height: 100vh;
}
.stsec1{
    padding-top: 50px;
}
.Glplans{
    text-align: center;
    padding-top: 40px;
    font-family: 'Lilita One', sans-serif;
    font-size: 70px;
    padding-top: 80px;
}
.plans-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}
.plan-title{
    font-size: 30px;
    font-family: 'Lilita One', sans-serif;

}

.mainpmt{
    font-family: 'Lilita One', sans-serif;
    font-size: 20px;
}

.subpst{
    font-family: 'Bellefair', serif;
    margin-top: 0;
    margin-bottom: 0;

}
.placement-adj{
    text-align: start ;
}

.plan1,.plan2{
    border-right-style: dashed;
    border-right-color: white;
    border-right-width: 1px;

}
.plan-container{
    height: 600px;
    background-color: lightblue;
}
.price{
    display: inline;
    border-right-style: dashed;
    border-right-color: white;
    border-right-width: 1px;
    padding-right: 20px;
    margin-right: 12px;
}

.apply-butt{
    height: 40px;
    width: 100px;
    color: black;
    background-color: white;
    transition: color 0.5s, background-color 0.5s;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
}

.apply-butt:hover{
    color: white;
    background-color: rgb(88, 3, 88);
    cursor: pointer;
    border-color: white;


}